<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.gin.typeHandler.BaseEnumTypeHandler" javaType="com.gin.enums.BaseEnum"/>
        <typeHandler handler="com.gin.typeHandler.DynamicResultResultHandler" javaType="com.gin.typeHandler.DynamicResult"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor">
            <property name="@page" value="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor"/>
            <property name="page:dbType" value="dm"/>
        </plugin>
    </plugins>

</configuration>